.container {
  position: relative;
}

.box {
  width: 200px;
  height: 200px;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
  position: absolute;
  top: 0;
  left: 50%;
}
